h1 {
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    color: rgba(255,255,255,.75);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }


  figure {
    size: 50%;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: rgb(247, 202, 201);
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  img {
    border-radius: 50%;
    padding: 30pt;
  }

  /* ---------------------------Test Typewriter----------------------------------------- */
  .typing{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 6s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(20) infinite normal;
}
.anim-backspace{
  animation: backspace 6s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  /* from{width: 2;} */
  to{width: 8em;}
  /* to{width: 0em;} */
}

@keyframes backspace{
  from{width: 8em;}
  to{width: 0em;}
  
}
@keyframes blinkTextCursor{
  /* from{border-right-color: rgba(255,255,255,.75);} */
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}


/* ---------------------------------------ICONS---------------------------------------------------- */

.icon {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

/* Add a hover effect if you want */
.icon:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook
.icon-facebook {
  background: #3B5998;
  color: white;
}

 Twitter 
.icon-twitter {
  background: #55ACEE;
  color: white;
} */

.icon-instagram {
  background: #125688;
  color: white;
}

.icon-linkedin {
  background: #007bb5;
  color: white;
}

.icon-github {
  background: #125688;
  color: white;
}


